{% extends 'luckywinner/base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
{% load static %}
<img class="bg-main" src="{% static 'img/bgmain.png' %}" alt="">
<div class="container">
	<div class="container-div">
		<div class="centered-div absolute-section">
			<h2 class="header-text cstm-main-head mg-bt-20 mb-head-text">Saathsadhaikoclub</h2>
			<h2 class="header-text cstm-main-head mg-bt-15">Welcome {{user.username}}</h2>
			<div class="content-container">
                <!--
				<h2 class="body-text cstm-text-body mg-bt-25 mb-body-text" style="display: none;">Please like our page to participate.</h1>
                <h2 class="body-text cstm-text-body mg-bt-25 mb-body-text">You have already liked our page. Please press the button to continue.</h1> -->
                    {% if messages %}
                    {% for message in messages %}
                    <h2 class="body-text cstm-text-body mg-bt-25 mb-body-text">{{message}}</h2>
                    {% endfor %}
                    {% endif %}
					<h2 class="body-text cstm-text-body mg-bt-25 mb-body-text" style="display: none;">Thank you for participating. Please visit our facebook page to stay updated.</h1>
                    
                    {% if luckydraw != None %}
                    <img class="banner-main d-block mg-bt-25" src="/media/{{luckydraw.image}}" alt="">
                    {% endif %}

                    {% if user.is_superuser %}
                        {% if luckydraw != None %}
                            <button class="btn cstm-btn dark-green-theme button-text"> <a href="{% url 'winner_select' %}"> Select Winner </a></button>
                        {% endif %}
                    {% else %}
                        {% if luckydraw != None %}
                        {% if participant.status != True %}
                            <div class="row">
                                <div class="col-sm-12 mt-2 text-center">
                                  <button class="btn btn-success">
                                    <a href="/participate/{{luckydraw.name}}"> Click Here to Participate </a>
                                  </button>
                                </div> 
                                <div class="col-sm-12 mt-2 text-center">
                                  <button class="btn btn-success">
                                    <a href="https://www.facebook.com/saathsadhaikoclub" add target="_blank"> Click Here to go to Page </a>
                                  </button>
                                </div> 
                              </div>
                        {% endif %}
                        {% endif %}
                    {% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}