<!-- home.html -->

{% extends 'luckywinner/base.html' %}
{% block title %} Saath Sadhaiko Club {% endblock %}
{% block content %}
  <div class="row">

    {% if messages %}
    <div class="col-sm-12 mt-2 text-center">
      {% for message in messages %}
      <h6 class="success">
        {{message}}
      </h6>
      {% endfor %}
    </div>
    {% endif %}

    <div class="col-sm-12 mb-3">
      <h6 class="text-center">Welcome {{ user.username }}</h6>
    </div>
        <!-- Add from here -->
    
      {% if luckydraw != None %}
      <img src='/media/{{luckydraw.image}}/' alt="Luckydarw Image" class="rounded mx-auto d-block img-fluid" width="300" height="400">
      {% endif %}

    {% if user.is_superuser %}
    <div class="col-sm-12 mt-2 text-center">
      {% if luckydraw != None %}
      <button class="btn btn-success">
        <a href="{% url 'winner_select' %}">Select Lucky Draw Winner</a>
      </button>
      {% endif %}
    </div> 
    {% else%}
    <div class="col-sm-12 mt-2 text-center">
      {% if luckydraw != None %}
      <button class="btn btn-success">
        <a href="/participate/{{luckydraw.name}}">Click Here to Participate</a>
      </button>
      {% endif %}
    </div> 
    {% endif %}
        <!-- End here -->
  </div>
{% endblock %}