<html>
    <head>
        <title>Privacy Policy</title>
    </head>
    <body style="background-color:#0b2651;">
        <center> <img src="/media/luckywinner/saathsadhaiko.jpg" height="200px" width="200px"> </center>
        <center> <h1 style="color: aliceblue;">Privacy policies:</h1> </center>
        
        <div class='text-center'>
        <ol type="1" style="color: aliceblue; display: inline-block;"> 
        <li>Saath Sadhaiko Club holds all the responsibility of the developed application, which contains information of the participants.</li>
        <li>Upon participating, Saath Sadhaiko Club holds the participants basic information (Name, Email id, Profile Picture).</li>
        <li>The sole purpose of collecting these data is for selecting the winners during the lucky draw.</li>
        <li>Saath Sadhaiko Club does not sell the collected information to any third party.</li>
        </ol>
        </div>
        
    </body>
</html>