<!-- home.html -->

{% extends 'luckywinner/base.html' %}
{% block title %} Saath Sadhaiko Club {% endblock %}
{% block content %}
{% load static %}
<img class="bg-main" src="{% static 'img/bgmain.png' %}" alt="">
<div class="container">
	<div class="container-div">
		<div class="centered-div absolute-section">
			<h2 class="header-text cstm-main-head mg-bt-20 mb-head-text">Saathsadhaikoclub</h2>
			<h2 class="header-text cstm-main-head mg-bt-15">Welcome {{user.username}}</h2>
			<div class="content-container">
        <div class="row">


          <div class="col-sm-12 mt-2 text-center">
            <button class="btn btn-success">
              <a href="{{winner.link}}">Congratulation Winner is {{winner.name}}</a>
            </button>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>

  
{% endblock %}