<!-- home.html -->

{% extends 'luckywinner/base.html' %}
{% block title %} Saath Sadhaiko Club {% endblock %}
{% block content %}
  {% if user.is_superuser %}
  <div class="row">

    <div class="col-sm-12 mb-3">
      <h6 class="text-center">Welcome {{ user.username }}</h6>
    </div>
        <!-- Add from here -->
    <div class="col-sm-12 mt-2 text-center">
      <button class="btn btn-success">
        <a href="{% url 'overallwinner' %}">Select Winner From all Luckdraw</a>
      </button>
    </div> 
    <div class="col-sm-12 mt-2 text-center">
      <button class="btn btn-success">
        <a href="{% url 'currentwinner' %}">Select Winner from Present Luckdraw Only</a>
      </button>
    </div> 
        <!-- End here -->
  </div>
  {% endif %}
{% endblock %}